body{
  background-color: rgb(83, 103, 136);
}


#titulo{
    text-align: center;
    background-color: cornflowerblue;
    margin: 0px;
    border: 2px;
    border-radius: 6px;
    border-style: solid;
    border-color: black;
    padding: 10px;
}


h2{
    margin-top: 50%;

}

h1, h2 {
    clear: both;
}


table {
    text-align: center;
    width: 500px;
    height: 350px;
    background-color: cornflowerblue;
    border: 2px;
    border-radius: 6px;
    border-style: solid;
    border-color: black;
}

table td{
    width: 10%;
    border: 1px;
    border-style: solid;
    border-color: black
}



.box {
  display: flex;
  flex-flow: row wrap;
}


.botao{
    margin-top: 10%;
    margin-left: 10%;
    padding: 0%;
    display: flex;
    flex-flow: column wrap;
}

.tabela{
    margin-top: 5%;
    margin-left: 10%;
    padding: 0;
}

.info{
  margin-top: 0px;
  padding: 0%;
  margin-left: 10%;
}



.plus{
    margin-bottom: 20px;
}


.button {
    border-radius: 6px;
    background-color: cornflowerblue;
    border: 2px;
    border-style: solid;
    border-color: black;
    color: black;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 150px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }

.button p{
  font-size:15px;
}
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }


  .button1 {
    border-radius: 6px;
    background-color: cornflowerblue;
    border: 2px;
    border-style: solid;
    border-color: black;
    color: black;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 150px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }

  .button1 p{
    font-size:15px;
  }
  
  .button1 span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button1 span:after {
    content: '\00ab';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button1:hover span {
    padding-right: 25px;
  }
  
  .button1:hover span:after {
    opacity: 1;
    right: 0;
  }




  .relogio{
    text-align: center;
    background-color: cornflowerblue;
    border: 2px;
    border-radius: 6px;
    border-style: solid;
    border-color: black;
    padding: 4px;
  }

  #texto{
    background-color: cornflowerblue;
    border: 2px;
    border-radius: 6px;
    border-style: solid;
    border-color: black;
    padding: 4px;
    margin-top: 10px;
  }


  .linkCelula{
    cursor: pointer;
  }

  #texto1{
    background-color: cornflowerblue;
    border: 2px;
    border-radius: 6px;
    border-style: solid;
    border-color: black;
    padding: 4px;
    margin-bottom: 20px;
  }


  #divBot {
    display: none;  
  }

  #divBot1 {
    display: none;  
  }
  

  /* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 110px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 40%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  text-align: center;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: #888;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: white;
  color: black;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
  padding: 2px 16px 30px ;
  background-color: white;
  color: black;
}